.storeContainer {
    padding-top: 8%;
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.item {
    text-align: center;
    width: 80%;
}

.item h1 {
    margin: 5%;
}

#shopImage {
    margin-left: 25%;
    border-radius: 5%;
}